{% comment %}
  StyleDrop Product Template
  Converted from: src/pages/ProductDetails.tsx
{% endcomment %}

{{ 'styledrop-product.css' | asset_url | stylesheet_tag }}
{{ 'styledrop-product-info-panel.css' | asset_url | stylesheet_tag }}
{{ 'styledrop-product-add-to-cart.css' | asset_url | stylesheet_tag }}

<div class="styledrop-product">
  {% render 'breadcrumb-product' %}

  <div class="container styledrop-product__main">
    <div class="styledrop-product__panel">
      <div class="styledrop-product__gallery">
        {% render 'product-image-gallery', product: product %}
      </div>

      <div class="styledrop-product__info">
        {% render 'product-info-panel', product: product %}
        {% render 'product-variant-selector', product: product %}
        {% render 'product-add-to-cart', product: product %}
        {% render 'product-accordion-sections', product: product %}
      </div>
    </div>
  </div>

  {% render 'related-products-section', product: product, collection_handle: 'all' %}
  {% render 'size-predictor-modal' %}
</div>
